package.json
patches
public
docs
node_modules/
assets/images/kraehenbeisser.svg
resources
.hugo_build.lock
hugo_stats.json
content/post/kurische-nehrung/kurische-nehrung*/**
content/post/rossitten/rossitten*/**
static/images/favicon*.*
content/post/*/page*/*
static/images/kraehenbeisser.svg
static/pdfjs/**
content/post/*/title/
content/post/*/front/*
content/**/ogPreview.*g
content/**/ogPreview-overlay.*g
**/.DS_Store
