package.json
patches
public
docs
node_modules/
static/images/gemeinde-logo.svg
static/images/footer2.svg
resources
.hugo_build.lock
hugo_stats.json
static/images/favicon*.*
content/post/*/page*/*
static/pdfjs/**
content/post/*/title/
content/post/*/front/*
content/**/ogPreview.*g
content/**/ogPreview-overlay.*g
**/.DS_Store
content/about/archivtuer/
