package.json
patches
public
docs
node_modules/
static/images/gemeinde-logo.svg
static/images/footer2.svg
resources
.hugo_build.lock
hugo_stats.json
static/images/favicon*.*
content/post/*/page*/*
static/pdfjs/**
content/post/*/title/
content/post/*/front/*
content/**/ogPreview.*g
content/**/ogPreview-overlay.*g
**/.DS_Store
content/about/archivtuer/
static/images/footer3.svg
static/images/favicon.svg
static/images/signature.svg
content/home/Plakat/

content/archive/archive.svg
content/life/life.svg
content/conservancy/conservancy.svg
content/art/art.svg
static/images/archive-home.svg
static/images/beach-footer.svg
**/icons/archive-home.svg
