[submodule "wilmabraeuner-redirect"]
	path = wilmabraeuner-redirect
	url = https://github.com/cmahnke/wilmabraeuner-redirect.git
[submodule "themes/projektemacher-base"]
	path = themes/projektemacher-base
	url = https://github.com/cmahnke/projektemacher-base.git
