@import "bootstrap.scss";
@import "normalize";
@import "icons";
@import "ol-iiif";
@import "iframe-consent";
@import "fonts/lato";
@import "fonts/sono";
@import "fonts/cormorant-garamond";
@import "fonts/roboto";
@import "fonts/oswald";
@import "share";
@import "audioplayer";
@import "iiif";

/* Menu */
$font-color-body: var(--base00);
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(--base00);
$fullscreen-color: var(--base07);
@import "menu";

$font-face-body: Roboto, helvetica, sans-serif;
$font-face-archive: Sono, helvetica, sans-serif;
$font-face-header: 'Cormorant Garamond', times;

/* Colors */
$header-text-color: #282d26;
$gradient-margin: 4em;
$dark-rust: #4a1a06;

/* Sizes */
$header-height: 9em;
$footer-height: 45em;
$max-width: 1080px;

/* Unicode "Icons" */
$link-marker: '☞'; /* alternative: ☞ */
$nav-separator: 'ᐳ';

/* Icons */

$comment-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M512 240c0 114.9-114.6 208-256 208-37.1 0-72.3-6.4-104.1-17.9-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9s-1.1-12.8 3.4-17.4l.3-.3c.3-.3.7-.7 1.3-1.4 1.1-1.2 2.8-3.1 4.9-5.7 4.1-5 9.6-12.4 15.2-21.6 10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240 0 125.1 114.6 32 256 32s256 93.1 256 208z'/%3E%3C/svg%3E";

body,
html {
    min-height: 100vh;
    margin: 0;
    position: relative;
    /*background-color: #f9edde;*/

}

.page-wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    z-index: 9;
    height: $header-height;
    max-height: $header-height;
    display: flex;
    justify-content: center;
    overflow : hidden;
    background-color: #f9edde;
    @media (max-width : 48em) {
        height: unset;
        overflow: unset;
    }

    .header-container {
        max-width: $max-width;
        width: $max-width;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        box-sizing: border-box;
        flex-direction: column;
        @media (max-width : 48em) {
            flex-direction: row;
        }
    }

    .title-container {
        display: flex;
        flex-direction: column;
        margin: unset;
        justify-content: center;
        color: $header-text-color;
        padding-top: 0.6em;
        @media (max-width : 48em) {
            padding-top: unset;
        }

        .header-top {
            display: flex;
            justify-content: space-between;

            .header-title {
                font-size: 2em;
                display: inline-block;
                flex-basis: 48.5%;
                font-weight: 300;
                font-variant: all-petite-caps;
                transition: all 300ms ease-in;
                white-space: nowrap;
                transform: translateY(0%);
                opacity: 1;
                @media (max-width : 57em) {
                    margin-left: .4em;
                }
                @media (max-width : 48em) {
                    font-size: 1em;
                    margin-left: .6rem;
                }
            }


        }

        .header-nav-list {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            justify-items: flex-end;

            @media (max-width : 48em) {
                display: none;
            }

            .nav-item {
                padding-left: 1rem;
                font-family: $font-face-body;

                a {
                    color: $font-color-body;
                }
            }
            &.small-header {
              transform: translateX(-100%);
              transition: all 300ms ease-in;

            }
        }

        .header-subtitle {
            margin-top: .6em;
            display: flex;
            align-items: center;
            justify-items: flex-end;
            justify-content: flex-end;
            transition: all 200ms ease-in;
            font-size: 1.5em;
            line-height: unset;

            @media (max-width : 48em) {
                flex-direction: column;
                margin-top: 0;
                margin-bottom: .4rem;
            }

            .prefix {
                font-size: 2.2em;
                opacity: 1;
                transform: scaleX(100%);
                transition: all 300ms ease-in;

                @media (max-width : 57em) {
                    font-size: 1.0em !important;
                    margin-left: .4em;
                }
                /*
                @media (max-width : 48em) {
                    font-size: 1.0em !important;
                    margin-left: .4em;
                }
                */

                @media (max-width : 17.5em) {
                    font-size: .8em !important;
                }

            }

            .header-img {
                height: 2.4em;
                vertical-align: bottom;
                margin-left: 0.6rem;
                margin-right: 0.6rem;
                transition: all 200ms ease-in;

                @media (max-width : 48em) {
                    max-width: 10em;
                }

                @media (max-width : 17.5em) {
                    max-width: 8em;
                }
            }

            .year {
                font-size: 1.6em;
                transform: scale(100%);
                transition: all 300ms ease-in;
                @media (max-width : 48em) {
                    display: none;
                }
            }

        }
    }

    h1 {
        font-size: 2.4em;
    }

    a, a:link, a:visited, a:hover {
        color: $header-text-color;
        text-decoration: none;
    }

    h1, h2, a {
        color: $header-text-color;
    }

}

.main {
    min-height: calc(100vh - $header-height - $footer-height);
    box-sizing: border-box;
    margin-block-start: $header-height;
    /*background: linear-gradient(0deg, #f9edde 50%, #FFFFFF 50%);*/
    /* padding-bottom: 6em; */
    /*
    background: linear-gradient(0deg, #5D8094 0%, #FFFFFF $gradient-margin, #FFFFFF calc(100% - $gradient-margin), #BDE3F2 100%);
    */

    .content-container {
        max-width: $max-width;
        width: 100%;
        margin: auto;
    }

    a, a:link, a:visited, a:hover {
        color: #666;
        text-decoration: none;
    }

    .content {
        padding: 2em;
        /*
        margin-top: calc($gradient-margin + calc($gradient-margin * .3));
        */
        margin-top: 5em;
        margin-bottom: calc($gradient-margin + calc($gradient-margin * .3));
        background-color: #fff;
        background: linear-gradient(0deg, #fff 0%, #f9edde 100%);
        /*box-shadow: 2px 2px 5px 0px #000;*/
        border-radius: 0.6rem;
        padding-bottom: 4em;
        display: flex;
        flex-direction: column;

        @media (max-width : 48em) {
            margin-top: 2em;
        }

        @media (max-width : 57em) {
            padding: .2em;
            background: #fff;
        }

        &.audio {


        }

        .object-title {

        }
        .object-number {
            display: none;
        }

        .post-title {
            font-size: 2em;
            margin: auto;
            margin-bottom: 1em;
            padding: .4rem;

            @media (max-width : 48em) {
                text-align: center;
            }
        }

        .up {
          margin: auto;
          text-decoration: none;
          font-family: $font-face-body;
        }

        .text {
          font-family: $font-face-body;
        }

        .frame {
            max-width: $max-width;
            margin-block-start: unset;
            margin-block-end: unset;
            margin-inline-start: unset;
            margin-inline-end: unset;
            img {
                max-width: inherit;
            }
            figcaption {

                float: right;
                text-align: right;
                h4 {
                    font-family: $font-face-body;
                    font-weight: 300;
                }
                p {
                    display: none;
                }
            }
        }

        .nav .nav-item .nav-link {
            border-top-left-radius: unset;
            border-top-right-radius: unset;
            font-size: 1.6em;
            font-weight: 200;
            font-family: $font-face-archive;
        }
    }

    .preview-image {
        border-radius: .6rem;
        align-self: flex-end;
        border: 1px solid black;
        max-width: 24em;
        @media (max-width : 48em) {
            max-width: 90vw;
            margin: auto;
        }
    }

    .content-body {
        display: flex;
        flex-direction: row;
        align-self: flex-end;

        h1 {
          margin-bottom: .6em;
        }
    }

    p {
        margin: auto;
        width: 70%;
        text-align: justify;
        line-height: 123%;
        text-indent: 1rem;
        padding-bottom: 20pt;
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .content-area {
        h1 {
          font-size: 4.4em;
        }
        h2 {
          font-size: 3.8em;
        }

        h3 {
          font-size: 3em;
        }

    }

    .content-header {
        display: flex;
        justify-content: flex-end;
        margin-top: 2em;
        margin-right: -5%;

        @media (max-width : 48em) {
            max-width: 95%;
            margin-left: 5%;
            margin-right: unset;
            margin-top: .6em;
        }

        .content-header-nav {
          font-family: $font-face-archive;
          font-weight: 200;
          font-size: 1.6em;
          max-height: 1.4em;
          text-align: right;
          width: min-content;
          padding: .4rem;
          background-color: #f9edde;
          list-style-type: none;
          margin-block-start: 0px;
          margin-block-end: 0px;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          overflow-x: hidden;
          display: flex;
          box-shadow: 2px 2px 4px 0px #000;
          max-width: 95%;

          @media (max-width : 48em) {
              display: flex;
              flex-direction: column;
              max-height: unset;
              font-size: 1.2em;
          }

          .content-header-nav-item {
              display: inline-flex;
              justify-content: flex-end;
              align-items: center;
              letter-spacing: -0.1em;
              white-space: nowrap;

              &:not(:last-child):after {
                  color: $dark-rust;
                  content: $nav-separator;
                  padding-left: .4rem;
                  padding-right: .4rem;

              }
              &.home {
                  align-items: flex-end;
              }

          }

          a {
              text-decoration: none;
          }

        }
    }

    .related-popup {
        @keyframes related {
            0%   {transform: translate(-50%, 300%);}
            50%  {transform: translate(-50%, 300%);}
            100% {transform: translate(-50%, 5em);}
        }

        position: fixed;
        border-radius: 1em;
        background-color: #f4bd34;
        margin: auto;
        color: #000;
        font-family: $font-face-archive;
        font-size: 2em;
        font-weight: 300;
        box-sizing: content-box;
        left: 50%;
        width: 94%;
        max-width: calc(1080px - 5%);
        transform: translate(-50%, 5em);
        animation-name: related;
        animation-duration: 2s;
        display: flex;
        flex-direction: column;
        height: 50%;
        align-items: flex-end;

        &:has(#related-toggle:checked) {
            transform: translate(-50%, 300%);
            transition: all 200ms linear;
        }

        #related-toggle {
            display: none;
        }

        .close-icon {
            content: url($close-dark);
            margin-top: 1rem;
            margin-right: 0.5em;
            height: 1.4em;
            width: 1.4em;

        }

        .float-right {
            float: right;
        }

        .related-link {
            align-self: center;
            padding: 1em 0;
            display: block;
            width: fit-content;
        }

        &.related-audio .related-link:after {
            content: '';
            vertical-align: sub;
            background: url($comment-icon);
            width: 2rem;
            height: 2rem;
            display: inline-block;
            margin-left: .8rem;

            @media (max-width : 48em) {
                margin: auto;
                display: block;
            }

        }
    }
}

.home-icon {
    width: 2em;
    height: 2em;
    filter: grayscale(1);
    vertical-align: bottom;
    overflow-x: clip;
}

p {
    font-family: $font-face-body;
}
h1, h2, h3, h4 {
    font-family: $font-face-header;
    margin-block-start: unset;
    margin-block-end: unset;
}

ul {
    padding-inline-start: unset;
}

header,
footer,
.section-listing {
    a, a:hover {
        text-decoration: none;
    }
}

.audioplayer {
    margin-top: 2em;
    margin-bottom: 2em;
    @media (max-width : 48em) {
          margin-top: .4em;
    }
}

.section-listing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    max-width: $max-width;
    margin: auto;
    font-weight: 300;
    font-variant: small-caps;
    font-family: $font-face-header;
    color: $header-text-color;

    @media (max-width : 48em) {
        display: flex;
        flex-direction: column;

          .section-tile .section-tile-image {
              width: 90%;
              border-radius: .6rem;
              filter: blur(2px);
          }
    }

    a, a:hover {
        color: $header-text-color;
    }

    .section {
        margin: 2em;
        justify-content: center;
        align-content: center;
        align-items: center;
        @media (max-width : 48em) {
            margin: 1em;
        }

        .section-tile {
            position: relative;
            display: flex;
            transform: scale(1);
            transition: all 200ms linear;

            &:hover {
              transform: scale(1.05);
              transition: all 200ms linear;
            }

            .section-tile-image {
                width: 100%;
                border-radius: .6rem;
                filter: blur(2px);
            }

            .tile-caption {
                position: absolute;
                bottom: 0.4em;
                right: 0.2em;
                font-size: 2em;
                color: black;
                text-align: right;
                float: right;
                $styleadow: 0 0 7px black;
            }

        }
    }
}

.section,
.sub-section {
    list-style-type: none;
}

.subsection-listing {
    display: flex;
    font-weight: 400;
    flex-direction: column;
    padding-inline-start: 0px;
    max-width: 1080px;

    .sub-section {
        display: flex;
        font-family: $font-face-header;
        margin: auto;
        flex-direction: column;
        margin: 1rem;

        a {
            color: $header-text-color;
            text-decoration: none;
            display: block;
            &:before {
                content: $link-marker;
                vertical-align: middle;
                font-size: 2em;
            }
        }

        &.audio .listing-title:after {
            content: '';
            vertical-align: middle;
            background: url($comment-icon);
            width: 2rem;
            height: 2rem;
            display: inline-block;
            margin-left: .4rem
        }

        .listing-title {
            font-size: 2em;
            display: inline-block;
            margin-left: .4rem;
            font-family: $font-face-header;
        }

        &>.listing-title,
        .preview .preview-image {
          margin-left: 2.7rem;
        }

        .text {
            font-size: larger;
            margin-inline-start: 2em;
        }
    }


}

footer {
    /* display: flex;
    flex-direction: column;
        background: #3c3d41;
        background: #f7dba7;
    */
    justify-content: flex-end;
    box-sizing: border-box;
    font-family: Lato, Helvetica, Arial, sans-serif;
    max-height: $footer-height;
    overflow : hidden;
    background: url(/images/beach-footer.svg), linear-gradient(0deg, rgba(189,227,242,1) 40%, rgba(255,255,255,1) 85%);
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position-x: 40%;
    background-position-y: -2em;

    a, a:hover {
      text-decoration: none;
    }

    .footer-content {

        padding-top: 6em;
        padding-bottom: 5.125em;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        max-width: $max-width;

        .logo-area {
          width: 48.5%;
          margin-right: 3%;
          box-sizing: border-box;
          display: flex;

          .footer-logo {
              height: 7em;
              margin-left: 1em;
          }

          p {
              font-size: 28px;
              color: #ffffff;
              font-weight: bold;
              font-family: 'Oswald', Helvetica, Arial, sans-serif;
              margin-block-start: .4em;
              margin-block-end: .4em;
          }
        }

        .menu-area {
            width: 22.75%;
            margin-right: 3%;
            color: #666666;
            box-sizing: border-box;

            .footer-nav-list {

                .nav-item {
                    padding-bottom: 1em;

                    a {
                        color: #666666;
                    }
                }
            }
        }
    }

    .footer-container {
        min-width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        color: #fafafa;
        background: #293133;
        padding: .4rem 0;
        font-family: Lato, Helvetica, Arial, sans-serif;

        a:visited {
            color: #fafafa;
        }

        p {
            margin: unset;
        }

    }
}

.nav-item {
      list-style-type: none;
      white-space: nowrap;

      a {
          text-decoration: none;
      }
}

/* Menu */
@media (min-width: 45em) {
    #menu-toggle+label+ul {
        visibility: hidden;
    }

    #menu-toggle:checked+label+ul {
        visibility: visible;
    }
}

.menu {
    visibility: hidden;
    @media (max-width : 48em) {
        visibility: visible;
        align-self: center;
    }

    .top-menu {
        position: unset;


        .menu-button {
            @media (min-width: 45em) {
              display: unset !important;
            }
        }


        .navigation-list {
            transition: all 200ms ease-in;
            top: 250%;
            z-index: 100;


            @media (min-width: 45em) {
                width: 30em;
                padding-right: unset;
                right: 0;
                position: absolute;
                top: 6.4em;
                background-color: #fff;

            }


            .navigation-link {
                font-family: $font-face-archive;
                font-size: 1.4em;
                font-weight: 300 !important;
            }

            .navigation-item {
                padding-left: unset;


                @media (min-width: 45em) {
                  background-color: #fff;
                  border-left: 3px solid black;
                }


                &:last-child {
                  border-bottom: 3px solid black;

                }
            }
        }
    }
}

/* Page specific rules */

body.archive {
    font-family: $font-face-archive !important;
}

.meta {
    display: unset;
    font-family: $font-face-archive;

    .content-area {
        h1 {
            margin-bottom: .8em;
            font-size: 4em;

            @media (max-width : 48em) {
                font-size: 3em;
            }
        }

        h2 {
          margin-top: .4em;
          margin-bottom: .6em;
          font-size: 3em;

          @media (max-width : 48em) {
              font-size: 2em;
          }

        }

        a, a:link, a:visited, a:hover {
            color: #666;
            text-decoration: none;
        }
    }

    table {
        font-size: 1.2em;
        border-collapse: separate;

        tr {
          padding-bottom: .8rem;
        }

        td {
            padding: .4rem;

            &:nth-child(1) {
                font-weight: 500;
            }

            &:nth-child(2) {
                font-weight: 300;
                font-size: larger;
            }
        }
    }



}

.about.meta .post-body {
    p {
        color: #666;
        width: 58.5%;
    }

    .imprint-archive {
        float: right;
        display: inline-block;
        img {
          border-radius: 10px;
        }
    }
}

.home {
    .content {
        @media (max-width : 48em) {
            margin-top: 1.2em;
        }
    }

    .content-body {
        .poster {
            display: flex;
            justify-content: center;

            img {
                max-width: 80%;
                border: 1px solid;
                box-shadow: 5px 5px 7px -4px #000000;
            }
        }
    }
}

/* Headroom */
.headroom {
    /*
    will-change: transform, opacity, font-size;
    transition: transform 300ms linear, opacity 300ms linear, font-size 300ms linear, height 300ms linear;
    */
    transition: all 300ms linear;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.headroom--top {
    .menu {
        top: 50%;
        transition: all 200ms lease-in;
    }
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--not-top {
    box-shadow: 0px 5px 15px 4px rgba(0,0,0,0.5);
    height: 4.6em;

    .title-container {
        flex-direction: row;
        align-items: center;

        .header-top {
            max-height: 2.2em;
            @media (max-width : 48em) {
                /*transform: translateX(-100%);*/
                display: none !important;
            }

        }

        .header-title {
            display: none;
            opacity: 0;
            transform: translateY(-100%);
            transition: all 100ms ease-in;
            @media (max-width : 48em) {
                transform: translateX(-100%);
            }
        }

        .header-subtitle {
            /*order: 1;*/
            justify-items: unset;
            justify-content: unset;
            margin-top: unset;
            transition: all 200ms ease-in;

            @media (max-width : 48em) {
                margin-bottom: unset;
                /* transform: translateY(-100%); */
            }

            .header-img {
                height: 2em;
                margin-left: 0.4em;
                /*transform: scale(.7);*/
            }

            .year {
                font-size: 1.2em;
                white-space: nowrap;
                transition: all 300ms lease-in;
                transform: scale(0%);
                @media (max-width : 48em) {
                    display: none;
                }
            }

            .prefix {
              transform: scaleX(0%);
              transition: all 300ms ease-in;
              display: none;
            }
        }
    }

    .header-nav-list {
      transform: scaleX(0%);
      transition: all 300ms ease-in;

      @media (max-width : 48em) {
          display: none;
      }


        &.small-header {
            transform: scaleX(100%) !important;
            transition: all 300ms ease-in;

        }
    }

    .menu {
        .top-menu {
            position: unset;

            .navigation-list {
                transition: all 200ms ease-in;

                @media (max-width : 48em) {
                    top: 11.4em;
                }

                @media (max-width : 24em) {
                    top: 12.4em;
                }


                @media (min-width: 45em) {
                    top: 5em;
                }
                /*
                @media (max-width : 20em) {
                  top: 12.4em;
                }
                */

            }
        }
    }
}

.tags .content {
    .tag {
        font-size: larger;
        padding: .4em;
    }
    .object-number {
        display: inline-block;
    }
}

.qrcode-link {
    font-size: 4pt;
    display: inline-block;
    float: right;
    a {
        color: $header-text-color;
        text-decoration: none;
    }
}

.compare_view {
    width: 100%;
    max-width: 1080px;
}

.iiif {
    margin-top: 3em;
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 4em;

    .description {
        display: none;
        font-size: 2em;
        font-weight: 200;
        padding-bottom: 1.6em;
        font-family: $font-face-archive;
    }

    .viewer {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        position: absolute;

        &.portrait {
            width: 100%;
            height: 100%;
            display: block;
        }

        &.landscape {
            width: 100%;
            height: calc(4 / 1 * 100);
        }
    }

    .iiif-image {
        width: 100%;
        padding: 0.3em;
    }

    .share {
        position: absolute;
        bottom: -5em;
        right: 0;
        a, a:link, a:visited, a:hover {
            color: $header-text-color;
            text-decoration: none;
        }
    }
}

.making-of .documentation {
    font-family: $font-face-archive;

    .post-title {
        font-family: inherit;
        margin: unset;
        font-size: 2.6em;
        margin-bottom: .4em;
    }

    .toc-header {
        font-family: $font-face-archive;
        font-size: 1.6em;
    }

    .toc-entries {
        margin-left: 2em;
    }

    .post-body {
        font-family: inherit;

        p {
            font-family: $font-face-archive;
            margin: unset;
            width: unset;
        }

        h1, h2, h3, h4 {
            font-family: $font-face-archive;
            margin-bottom: .2em;
        }

        h1 {
            font-size: 2.2em;
        }

        h2 {
            font-size: 1.8em;
        }

        h2 {
            font-size: 1.2em;
        }

        ul {
            margin-left: 2em;
        }
    }
}

/*
  TODO:

  * Scroll to top
  * Mobile view

*/

/*
.scroll_to_top {

    visible {
        opacity: 1;
        -webkit-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
        animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    }

    hidden {
        opacity: 0;
    }

}
*/
