@import "normalize";
@import "icons";
@import "ol-iiif";
@import "iframe-consent";
@import "fonts/lato";
@import "fonts/sono";
@import "fonts/cormorant-garamond";
@import "fonts/roboto";
@import "share";
/* Menu */
$font-color-body: var(--base00);
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(--base00);
$fullscreen-color: var(--base07);
@import "menu";
@import "audioplayer";

$font-face-body: Roboto, helvetica;
$font-face-header: 'Cormorant Garamond', times;

/* Sizes */
$header-height: 4em;
$footer-height: 10.5em;

body,
html {
    min-height: 100vh;
    margin: 0;
    position: relative;

}

.page-wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: $header-height;
    max-height: $header-height;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow : hidden;

    .header-logo {
      max-width: 3em;
      overflow: hidden;
    }

    .title-container {
        display: flex;
        flex-direction: column;
    }

    .header-nav-list {
      display: flex;
      flex-direction: row;
    }

    .nav-item a {
          color: $font-color-body;
    }
}

.main {
    min-height: calc(100vh - $header-height - $footer-height);
    box-sizing: border-box;
}

p {
    font-family: $font-face-body;
}
h1, h2, h3, h4 {
    font-family: $font-face-header;
}

footer {
    background: #3c3d41;
    box-sizing: border-box;
    font-family: $font-face-body;

    max-height: $footer-height;
    height: $footer-height;
    overflow : hidden;

    a, a:hover {
      text-decoration: none;
    }

    .footer-nav-list {
        text-align: end;
        width: 70%;

        .nav-item {
            padding-bottom: 1em;

            a {
                color: #ffffff;
            }
        }

    }

    .footer-container {
        font-family: Lato, Helvetica, sans-serif;
        min-width: 100%;
        margin: auto;
        text-align: center;
        color: #fafafa;
        background: #293133;
        padding: 15px 0 15px;

        .projektemacher {
            padding-bottom: 10px;

        }

        p {
            margin: unset;
        }

    }
}

.imprint-archive {

}

.nav-item {
      list-style-type: none;
      font-family: $font-face-body;

      a {
          text-decoration: none;
      }
}




/*
.scroll_to_top {

    visible {
        opacity: 1;
        -webkit-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
        animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    }

    hidden {
        opacity: 0;
    }

}
*/
