@import "normalize";
@import "icons";
@import "ol-iiif";
@import "iframe-consent";
@import "fonts/lato";
@import "fonts/sono";
@import "fonts/cormorant-garamond";
@import "fonts/roboto";
@import "fonts/oswald";
@import "share";
/* Menu */
$font-color-body: var(--base00);
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(--base00);
$fullscreen-color: var(--base07);
@import "menu";
@import "audioplayer";

$font-face-body: Roboto, helvetica;
$font-face-header: 'Cormorant Garamond', times;

/* Sizes */
$header-height: 4em;
$footer-height: 26em;

body,
html {
    min-height: 100vh;
    margin: 0;
    position: relative;

}

.page-wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: $header-height;
    max-height: $header-height;
    display: flex;
    justify-content: center;

    overflow : hidden;

    .header-container {
        max-width: 1080px;
        width: 1080px;
        display: flex;
        flex-direction: row;
        /*justify-content: center; */
        justify-content:space-between;
        box-sizing: border-box;
    }

    .header-logo {
      max-width: 3em;
      overflow: hidden;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        margin: unset;
        justify-content: center
    }

    .header-nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .nav-item {
            padding-right: 1rem;
            font-family: $font-face-body;

            a {
                color: $font-color-body;
            }
        }
    }

    /* TODO: Fix this for mobile / resposive view */
    .menu {
        display: none;
    }

    h1 {
        font-size: 2.4em;
    }

    h2 {
        display: none;
        font-size: 2.4em;
    }
}

$gradient-margin: 4em;

.main {
    min-height: calc(100vh - $header-height - $footer-height);
    box-sizing: border-box;
    background: linear-gradient(0deg, #5D8094 0%, #FFFFFF $gradient-margin, #FFFFFF calc(100% - $gradient-margin), #BDE3F2 100%);

    .post-container {
        max-width: 1080px;
        width: 1080px;
        margin: auto;
    }

    .content {
        margin-top: calc($gradient-margin + calc($gradient-margin * .3));
        margin-bottom: calc($gradient-margin + calc($gradient-margin * .3));
    }

    .post-body {
        display: flex;
        flex-direction: column;

        h1 {
          margin-bottom: .6em;
        }
    }

    p {
        padding-bottom: 1em;
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .content-area {
        h1 {
          font-size: 4.4em;
        }
        h2 {
          font-size: 3.8em;
        }

        h3 {
          font-size: 3em;
        }

    }
}

p {
    font-family: $font-face-body;
}
h1, h2, h3, h4 {
    font-family: $font-face-header;
    margin-block-start: unset;
    margin-block-end: unset;
}

ul {
    padding-inline-start: unset;
}

footer {
    /* display: flex;
    flex-direction: column;
        background: #3c3d41;
    */
    justify-content: flex-end;
    background: #f7dba7;
    box-sizing: border-box;
    font-family: Lato, Helvetica, Arial, sans-serif;
                /*width: 1080px;*/

    max-height: $footer-height;
    height: $footer-height;
    overflow : hidden;

    a, a:hover {
      text-decoration: none;
    }

    .landscape {
        min-height: 50px;
        height: 50px;
        width: 100%;
        content: ' ';

        background: #5D8094 url(/images/footer2.svg);
        background-repeat: repeat-x;
        background-size: contain;
    }

    .footer-content {
        padding-top: 15px;
        padding-bottom: 48px;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        max-width: 1080px;

        .logo-area {
          width: 48.5%;
          margin-right: 3%;
          box-sizing: border-box;

          .footer-logo {
              height: 180px;
          }

          p {
              font-size: 28px;
              color: #ffffff;
              font-weight: bold;
              font-family: 'Oswald', Helvetica, Arial, sans-serif;
          }
        }

        .menu-area {
            width: 22.75%;
            margin-right: 3%;
            color: #666666;
            box-sizing: border-box;

            .footer-nav-list {


                .nav-item {
                    padding-bottom: 1em;

                    a {
                        color: #ffffff;
                    }
                }

            }
        }


    }




    .footer-container {
        min-width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        color: #fafafa;
        background: #293133;
        padding: .4rem 0;
        font-family: Lato, Helvetica, Arial, sans-serif;

        a:visited {
            color: #fafafa;
        }

        p {
            margin: unset;
        }

    }
}

.nav-item {
      list-style-type: none;

      a {
          text-decoration: none;
      }
}

.about.meta .post-body {
    display: unset;

    p {
        color: #666;
        width: 58.5%;
    }

    a, a:link, a:visited, a:hover {
        color: #666;
        text-decoration: none;
    }

    .imprint-archive {
        float: right;
        display: inline-block;
        img {
          border-radius: 10px;
        }

    }

}


/*
  TODO:

  * Scroll to top
  * Mobile view

*/

/*
.scroll_to_top {

    visible {
        opacity: 1;
        -webkit-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
        animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    }

    hidden {
        opacity: 0;
    }

}
*/
