{{ define "title" }}
  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <div class="content-container tags {{ .Params.type }}">
    <div class="content-area">
      <div class="content">
        <ul>
          {{- range .Pages -}}
            <div class="tag">{{ i18n .Title }}</div>
            <ul>
              {{- range .Pages -}}
                <li>
                  {{- $filename := "qrcode.pdf" -}}
                  {{- if .Aliases -}}
                    {{- $objectNumber := partial "functions/object-number.html" . -}}
                    {{- $filename = printf "%s.pdf" (trim (plainify $objectNumber) " ") -}}
                    {{- $objectNumber -}}
                  {{- end -}}
                  <a href="{{.RelPermalink}}">{{ .Title }}</a>

                  <a href="{{.RelPermalink}}qrcode.pdf" download="{{ $filename }}">QR-Code</a>
                </li>
              {{- end -}}
            </ul>
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
{{ end }}
