{{- $rotate := "" }}
{{- range (seq 0 1) -}}
    {{- $rotate = printf "%s%d" $rotate (index (shuffle (seq 0 99)) 0) -}}
{{- end -}}
{{- $rotate = printf "%s%d.%s" (index (shuffle (slice "-" "")) 0) (index (shuffle (seq 0 1)) 0) $rotate -}}
{{- $style := printf "transform: rotate(%sdeg);" $rotate -}}
<ol class="content-header-nav" style="{{ $style | safeCSS }}">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  <li class="content-header-nav-item {{ if eq .p1 .p2 }} active{{ end }}{{- if .p1.IsHome -}} home{{ end }}">
      <a href="{{ .p1.Permalink }}">
        {{- if .p1.IsHome -}}
          <img class="home-icon" src="/images/archive-home.svg">
        {{- else -}}
          {{- .p1.Title -}}
        {{- end -}}
      </a>
  </li>
{{ end }}
