{{- define "partials/itemnumber.html" -}}
  {{- $objectNumber := substr .alias 3 -2 -}}
  {{- $objectNumber = index (last 1 (split $objectNumber "/")) 0 -}}
  {{- return $objectNumber -}}
{{- end -}}
{{- $types := slice "a" "d" "f" "k" "o" "t" "w" -}}
{{- if not .Params.check -}}
  {{- if ne .Params.check false -}}
    {{- if eq (.OutputFormats.Get "qrcode") nil -}}
      {{- errorf "%s hasn't got QR Code output" .File.Path -}}
    {{- end -}}
    {{- if not .Params.type -}}
      {{- errorf "%s hasn't have 'type' set" .File.Path -}}
    {{- end -}}

    {{- if eq .Params.type "audio" -}}
      {{- $audio := .Resources.Match "audio" -}}
      {{- if eq $audio nil -}}
        {{- errorf "Audio for %s not found" .File.Path -}}
      {{- else if not .Aliases -}}
        {{- errorf "No alias for audio type, file %s" .File.Path -}}
      {{- end -}}
      {{- if ne (substr (index .Aliases 0) -2 1) "a" -}}
        {{- errorf "Alias for audio type doesn't ends with 'a', file %s" .File.Path -}}
      {{- end -}}
      {{- if not .Title -}}
        {{- errorf "%s has no title" .File.Path -}}
      {{- end -}}
      {{- if not (isset .Params "qr-icon") -}}
        {{- errorf "%s has no icon!" .File.Path -}}
      {{- end -}}
      {{- if not (isset .Params "tags") -}}
        {{- errorf "%s has no tags!" .File.Path -}}
      {{- end -}}
    {{- else if eq .Params.type "text" -}}
      {{- if not .Content -}}
        {{- errorf "%s is empty!" .File.Path -}}
      {{- end -}}
      {{- if not .Aliases -}}
        {{- errorf "%s has no alias!" .File.Path -}}
      {{- end -}}
      {{- if ne (substr (index .Aliases 0) -2 1) "t" -}}
        {{- errorf "Alias for audio type doesn't ends with 'a', file %s" .File.Path -}}
      {{- end -}}
      {{- if not .Title -}}
        {{- errorf "%s has no title" .File.Path -}}
      {{- end -}}
      {{- if ne .Parent.Kind "section" -}}
        {{- errorf "Text entry %s has wrong parent type" .File.Path -}}
      {{- end -}}
      {{- $objectNumber := partial "partials/itemnumber.html" (dict "alias" (index .Aliases 0)) -}}

      {{- $foundAudio := false -}}
      {{- range .Parent.Pages -}}
        {{- if eq .Params.type "audio" -}}
          {{- $audioNumber := partial "partials/itemnumber.html" (dict "alias" (index .Aliases 0)) -}}
          {{- if eq $objectNumber $audioNumber -}}
            {{- $foundAudio = true -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if eq $foundAudio false -}}
        {{- errorf "Text entry %s has no matching audio!" .File.Path -}}
      {{- end -}}
    {{- else if in (slice "frame" "wall") .Params.type -}}
      {{- $preview := .Resources.Match "preview" -}}
      {{- if eq $preview nil -}}
        {{- errorf "Preview image for %s not found" .File.Path -}}
      {{- end -}}
      {{- if not .Aliases -}}
        {{- errorf "%s has no alias!" .File.Path -}}
      {{- end -}}
      {{- if ne .Kind "section" -}}
        {{- errorf "%s is type '%s' but not a section" .File.Path .Params.type -}}
      {{- end -}}
      {{- if not .Title -}}
        {{- errorf "%s has no title" .File.Path -}}
      {{- end -}}
    {{- else if in (slice "picture" "print" "reproduction") .Params.type -}}
      {{- $preview := partial "iiif/preview.html" . -}}
      {{/*
      {{- if eq $preview nil -}}
        {{- errorf "Preview image for %s not found" .File.Path -}}
      {{- end -}}
      */}}
      {{- $objectNumber := partial "object-number.html" . -}}
      {{- $objectNumber = (trim (plainify $objectNumber) " ") -}}
      {{- $type := lower (substr $objectNumber -1 1) -}}
      {{- if not (in $types $type) -}}
        {{- errorf "Object number for %s is wrong!" .File.Path -}}
      {{- end -}}
      {{- if not .Aliases -}}
        {{- errorf "%s has no alias!" .File.Path -}}
      {{- end -}}
      {{- if eq (.OutputFormats.Get "qrcode") nil -}}
        {{- errorf "%s hasn't got QR Code output" .File.Path -}}
      {{- end -}}
      {{- if eq (.OutputFormats.Get "iiif") nil -}}
        {{- errorf "%s hasn't got IIIF output" .File.Path -}}
      {{- end -}}
      {{/* TODO: Enable this
      {{- if not (isset .Params "qr-icon") -}}
        {{- errorf "%s has no icon!" .File.Path -}}
      {{- end -}}
      */}}
      {{- if not (isset .Params "iiifcontext") -}}
        {{- errorf "%s has no iiifContext!" .File.Path -}}
      {{- end -}}
      {{- if eq .Kind "section" -}}
        {{- errorf "%s is a section should be leaf" .File.Path -}}
      {{- end -}}
    {{- else -}}
      {{- warnf "%s has unchecked post type '%s'" .File.Path .Params.type -}}
    {{- end -}}

    {{- if not .Title -}}
      {{- warnf "%s has no title" .File.Path -}}
    {{- end -}}
    {{- if ne .Params.type "topic" -}}
      {{- if not .Aliases -}}
        {{- warnf "%s has no alias" .File.Path -}}
      {{- else -}}
        {{- if ne .File nil -}}
          {{- $contextFile :=  .File.Path -}}
          {{- range .Aliases -}}
            {{- if not (hasPrefix . "/") -}}
              {{- errorf "%s in %s is missing a leading slash" . $contextFile -}}
            {{- end -}}
            {{- if not (strings.HasSuffix . "/") -}}
              {{- errorf "%s in %s is missing a trailing slash" . $contextFile -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{- warnf "Ignoring aliases for %s" .File.Path -}}
    {{- end -}}
    {{- if .Params.draft -}}
      {{- warnf "%s is a draft!" .File.Path -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- warnf "Check for %s is disabled!" .File.Path -}}
{{- end -}}
