<footer class="footer">
  <div class="footer-content">
    <div class="logo-area">
      <a href="https://projektemacher.org/">
        
        <img class="footer-logo" src="/images/archive-home.svg" alt="Sylter Archiv">
      </a>

      <!--
      <a href="https://gemeinde-sylt.de/">
        <p>Gemeinde Sylt</p>
        <img class="footer-logo" src="/images/gemeinde-logo.svg" alt="Logo Gemeinde Sylt">
      </a>
      -->
    </div>
    <div class="menu-area">
      <div class="footer-menu-heading">Services</div>
      <ul class="footer-nav-list">
        {{ partialCached "menu-nav.html" . }}
      </ul>
    </div>
  </div>
  {{ partialCached "footer-content.html" . }}
</footer>
</body>
</html>
