{{/* TODO add overview */}}

<ol class="subsection-listing frame-contents">
  {{- range .Pages -}}
    {{ $class := "" }}
    {{- if .Params "online" -}}
      {{- $class = "online" -}}
    {{- end -}}
    <li class="sub-section {{ $class }}">
      <div class="object-number">{{ .Title }}</div>
      <div class="preview">
        {{/* TODO generate preview here */}}
        <img src="" alt="{{ .Title }}">
      </div>
      <div class="single-view">
        <a href="{{ .RelPermalink }}">
          Einzelansicht {{ .Title }}
        </a>
      </div>
    </li>
  {{- end -}}
</ol>
