<header class="header header-main headroom" id="head">
  <div class="header-container">

    <div class="title-container">
      <div class="header-top">
        {{- $hometitle := .Site.Params.hometitle | default "" -}}
        {{- if ne $hometitle "" -}}
            <h1 class="header-title"><a href="/" title={{ i18n "homepageLink" }}>{{ $hometitle }}</a></h1>
        {{- else -}}
            <h1 class="header-title"><a href="/" title={{ i18n "homepageLink" }}>{{ .Title }}</a></h1>
        {{- end -}}
        <ul class="header-nav-list">
          {{ partialCached "menu-nav.html" . }}
        </ul>
      </div>
      {{- $subtitle := .Site.Params.subtitle | default "" -}}
      {{- if ne $subtitle "" -}}
            <a href="/" title={{ i18n "homepageLink" }}><h2 class="header-subtitle">{{ $subtitle | safeHTML }}</h2></a>
      {{- end -}}
      <ul class="header-nav-list small-header">
        {{ partialCached "menu-nav.html" . }}
      </ul>
    </div>
    <div class="menu">
      {{ partial "menu.html" . }}
    </div>
  </div>
  <div class="header-shadow"></div>
</header>
