{{/* TODO add overview */}}
{{- $singleTypes := slice "picture painting print object" -}}
{{- if ne (len .Pages) 0 -}}
  {{- $type := .Params.type -}}
  {{- $class := printf "%s-content" $type -}}

  <div class="content-body {{ $class | safeCSS }}">

    {{ .Content }}
    {{- if .Resources -}}
      {{- $preview := .Resources.GetMatch "preview" -}}
      {{- with $preview -}}
        {{- $image := .Resize "600x" -}}
        <div class="section-preview {{ $class | safeCSS }}">
          <div class="section-preview-text">{{ i18n "contentOverview" }}</div>
          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
        </div>
      {{- end -}}
    {{- end -}}
  </div>
  <ol class="subsection-listing {{ $class | safeCSS }}">
    {{- range .Pages -}}
      {{ $class := "" }}
      {{- $class = .Params.type -}}
      {{- if .Params.subtype -}}
        {{- $class = printf "%s %s" $class .Params.subtype -}}
      {{- end -}}

      {{- if or .Content .Resources -}}
        <li class="sub-section {{ $class | safeCSS }}">
          {{- if or .Params.tags .Params.related -}}
            <div class="ribbon-container">
            {{- if or .Params.tags -}}
              {{- range .Params.tags -}}
                {{- $class := printf "ribbon-%s" (replace . ":" "-") -}}
                {{- if (i18n .) -}}
                  <div class="ribbon {{ $class }}">
                    {{- i18n . -}}
                  </div>
                {{- end -}}
              {{- end -}}
            {{- end -}}
            {{- if .Params.related -}}
              <div class="ribbon ribbon-relations">
                {{- i18n "relations" -}}
              </div>
            {{- end -}}
            </div>
          {{- end -}}
          {{- $title := .Title  -}}
          {{- if not .Title -}}
            {{- $title = i18n .Params.type -}}
          {{- end -}}
          <a href="{{- .RelPermalink -}}" title="{{- $title -}}" class="section-item-link">
          <div class="object-title listing-title">
            {{- $title -}}
            {{- if .Aliases -}}
               <span class="object-number"> ({{- partial "functions/object-number.html" . -}})</span>
            {{- end -}}
          </div>

          {{- if or (eq .Params.type "text") (eq .Params.type "audio") -}}
            <div class="{{ $class | safeCSS }}">
              {{- if .Summary -}}
               {{ .Summary -}}...
              {{- end -}}
            </div>
          {{- else if in (slice "picture" "print" "reproduction" "drawing" "document") .Params.type -}}
            {{- $preview := partial "iiif/preview.html" . -}}
            {{ with $preview }}
              {{ $image := .Resize "300x" }}
              <div class="preview">
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
              </div>
            {{ end }}
            {{- if .Summary -}}
              <div class="summary {{ $class | safeCSS }}">
                 {{ .Summary -}}...
              </div>
            {{- end -}}
          {{- else -}}
            {{- if .Resources -}}
              {{- $preview := .Resources.GetMatch "preview" -}}
              {{ with $preview }}
                {{ $image := .Resize "300x" }}
                <div class="preview">
                  <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
                </div>
              {{ end }}
              {{- if in $singleTypes .Params.type  -}}
                <div class="single-view">
                  <a href="{{ .RelPermalink }}">
                    {{ i18n "singleView" }} {{ .Title }}
                  </a>
                </div>
              {{- end -}}
            {{- end -}}
          {{- end -}}
          {{- if or .Content .Resources -}}
            </a>
          {{- end -}}
        </li>
      {{- end -}}
    {{- end -}}
  </ol>
{{- end -}}
