{{/* TODO add overview */}}
{{- $singleTypes := slice "picture painting print object" -}}
{{- if ne (len .Pages) 0 -}}
  {{- $type := .Params.type -}}
  {{- $class := printf "%s-content" $type -}}

  <div class="content-body {{ $class | safeCSS }}">
    {{ .Content }}
    {{- if .Resources -}}
      {{- $preview := .Resources.GetMatch "preview" -}}
      {{- with $preview -}}
        {{- $image := .Resize "600x" -}}
        <div class="section-preview {{ $class | safeCSS }}">
          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
        </div>
      {{- end -}}
    {{- end -}}
  </div>
  <ol class="subsection-listing {{ $class | safeCSS }}">
    {{- range .Pages -}}
      {{ $class := "" }}
      {{/* TODO: Add text and audio here */}}
      {{- if .Params.subtype -}}
        {{- $class = .Params.subtype -}}
      {{- end -}}
      {{- $class := .Params.type -}}
      <li class="sub-section {{ $class | safeCSS }}">
        {{- if .Title -}}
          {{- if or .Content .Resources -}}
            <a href="{{- .RelPermalink -}}" title="{{- .Title -}}" class="section-item-link">
          {{- end -}}
          <div class="object-title listing-title">
            {{ .Title }}
          </div>
          {{- if .Aliases -}}
            {{- partial "object-number.html" . -}}
          {{- end -}}
          {{- if or (eq .Params.type "text") (eq .Params.type "audio") -}}
            <div class="{{ $class | safeCSS }}">
              {{- if .Summary -}}
               {{ .Summary -}}...
              {{- end -}}
            </div>
          {{- else if in (slice "picture" "print" "reproduction") .Params.type -}}
            {{- $preview := partial "iiif/preview.html" . -}}
            {{ with $preview }}
              {{ $image := .Resize "300x" }}
              <div class="preview">
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
              </div>
            {{ end }}
            <div class="{{ $class | safeCSS }}">
              {{- if .Summary -}}
               {{ .Summary -}}...
              {{- end -}}
            </div>
          {{- else -}}
            {{- if .Resources -}}
              {{- $preview := .Resources.GetMatch "preview" -}}
              {{ with $preview }}
                {{ $image := .Resize "300x" }}
                <div class="preview">
                  <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
                </div>
              {{ end }}
              {{- if in $singleTypes .Params.type  -}}
                <div class="single-view">
                  <a href="{{ .RelPermalink }}">
                    {{ i18n "singleView" }} {{ .Title }}
                  </a>
                </div>
              {{- end -}}
            {{- end -}}
          {{- end -}}
          {{- if or .Content .Resources -}}
            </a>
          {{- end -}}
        {{- end -}}
      </li>
    {{- end -}}
  </ol>
{{- end -}}
