{{- $page := .Page -}}
{{- $context := path.Dir .File.Path -}}
{{- $pageURL := .Permalink -}}
{{- $singleTypes := slice "picture painting print object" -}}
{{- partial "content-check.html" . -}}

<div class="content-container {{ .Params.type }}">
    <div class="content-area">

        <div class="content {{ .Params.type }}">
            {{- if not .Params.metaPage -}}
                <h1 class="post-title">{{ .Title }}</h1>
            {{- end -}}
            <div class="post-body">
                {{ .Content }}
            </div>

            {{- if eq .Params.type "audio" -}}
              {{- $audio := .Resources.GetMatch "audio" -}}
              {{- with $audio -}}
                {{- $src := .RelPermalink -}}
                {{- partial "media/audioplayer.html" (dict "context" . "src" $src "autoplay" false) -}}
              {{- end -}}
            {{- end -}}

            {{- if or (eq .Params.type "frame") (eq .Params.type "wall") -}}
              {{- $preview := .Resources.GetMatch "preview" -}}
              {{ with $preview }}
                {{ $image := .Resize "600x" }}
                <div class="preview">
                  <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
                </div>
              {{- end -}}
            {{- end -}}

            {{- if .Params.iiif -}}
                <div class="iiif">
                  {{- range .Params.resources -}}
                    {{- if or (and (ne $.Params.type "work") (ne $.Params.type "book")) (not (or (or (eq .name "front") (eq .name "title")) (eq .name "cover"))) -}}
                      {{- if .params.iiif -}}
                        {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page "site" $.Site) }}
                      {{- end -}}
                    {{- end -}}
                  {{- end -}}
                </div>
            {{- end -}}

            {{- if and .Params.type (or .Params.description .Params.bookTitle) -}}
                {{- partial (printf "media/%s.html" .Params.type ) . -}}
            {{- end -}}

            {{- if not .Params.metaPage -}}
                <div class="meta">
                  {{ partial "meta/tags.html" . }}
                </div>
            {{ end }}

            {{- if eq .Params.type "audio" -}}
              <a class="up" href="{{ .Parent.RelPermalink}}">{{ i18n "overview" }}</a>
            {{- end -}}
         </div>


     </div>

</div>
