{{- $page := .Page -}}
{{- $contextPath := "" -}}
{{- if and (ne .File nil) (ne .File.Path nil) -}}
  {{- $contextPath = path.Dir .File.Path -}}
{{- end -}}
{{- $pageURL := .Permalink -}}
{{- $singleTypes := slice "picture painting print object document" -}}
{{/*
{{- partial "content-check.html" . -}}
*/}}
<div class="content-container {{ .Params.type }}">
    <div class="content-area">
      <div class="content-header">
        {{ partial "breadcrumb-nav.html" . }}
        {{ partial "nav/prev.html" . }}
      </div>
      {{- $class := .Params.type -}}
      {{- if .Params.subtype -}}
        {{- $class = printf "%s %s" $class .Params.subtype -}}
      {{- end -}}
      <div class="content {{ $class }}">
        {{- if not .Params.metaPage -}}
          <div class="content-title">
            {{- if .Title -}}
              <h1 class="post-title">{{ .Title }}</h1>
            {{- else if or (eq .Params.type "picture") (eq .Params.type "document") (eq .Params.type "print") (eq .Params.type "drawing") -}}
              <h1 class="post-title">{{ i18n .Params.type }}</h1>
            {{- end -}}
            <h2 class="object-number">{{ i18n "objectNumber" }} {{ partial "functions/object-number.html" . -}}</h2>
          </div>
        {{- end -}}

        <div class="post-body {{ $class }}">
          {{ .Content }}
        </div>

        {{/*
          TODO: Add a block for metadata like tags and relations on the right
        {{- if .Params.tags -}}
          {{- range .Params.tags -}}
            {{- if not (hasPrefix .Params.tags "feature") -}}
              {{- $class := printf "ribbon-%s" (replace . ":" "-") -}}
              <div class="ribbon {{ $class }}">
                {{- i18n . -}}
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}
        */}}

        {{- $features := false -}}
        {{- if .Params.tags -}}
          {{- range .Params.tags -}}
            {{- if (hasPrefix (string .) "feature") -}}
              {{- $features = true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

        {{- if $features -}}
          <div class="post-features">
            <h3 class="features-title">{{ i18n "features" }}</h3>
            {{- range .Params.tags -}}
              {{- if (hasPrefix (string .) "feature") -}}
                {{- $class := printf "feature-%s" (strings.TrimLeft . ":") -}}
                {{- $title := i18n . -}}
                {{- if $title -}}
                  <div class="post-feature {{ $class }}">
                    {{ $title }}
                  </div>
                {{- end -}}
              {{- end -}}
            {{- end -}}
          </div>
        {{- end -}}

        {{- if .Params.related -}}
          <div class="post-relations">
            <h3 class="relations-title">{{ i18n "relations" }}</h3>
            {{- range $relation, $object := .Params.related -}}
              {{- $class := printf "related-%s" (replace $relation ":" "-") -}}
              <div class="relation {{ $class }}">
                {{- $description := printf "%s %s" (title (i18n "is")) (i18n $relation) -}}
                {{- $link := partial "functions/number2alias.html" $object -}}
                {{- $link = index ($.Site.Home.Scratch.Get "alias2Page") $link -}}
                {{- $description -}}: <a href="{{ $link }}" title="{{ $description }}">{{- $object -}}</a>
              </div>
            {{- end -}}
          </div>
        {{- end -}}

        {{- if eq .Params.type "audio" -}}
          {{- $audio := .Resources.GetMatch "audio" -}}
          {{- with $audio -}}
            {{- $src := .RelPermalink -}}
            {{- partial "media/audioplayer.html" (dict "context" . "src" $src "autoplay" false) -}}
          {{- end -}}
        {{- end -}}

        {{- if or (eq .Params.type "frame") (eq .Params.type "wall") -}}
          {{- $preview := .Resources.GetMatch "preview" -}}
          {{ with $preview }}
            {{ $image := .Resize "600x" }}
            <div class="preview">
              <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
            </div>
          {{- end -}}
        {{- end -}}

        {{- if and (.Params.resources) (or (eq .Params.type "picture") (eq .Params.type "document") (eq .Params.type "print") (eq .Params.type "drawing")) -}}
          {{- if gt (len .Params.resources) 1 -}}
            {{- $tabCount := 0 -}}
            <ul class="nav nav-tabs" role="tablist">
              {{- range .Params.resources -}}
                {{- if .params.iiif -}}
                  {{- $tabname := printf "%s-tab" .name -}}
                  {{- $panename := printf "%s-pane" .name -}}
                  <li class="nav-item" role="presentation">
                    <button class="nav-link{{ if eq $tabCount 0 }} active{{ end }}" href="#" role="tab" id="{{ $tabname }}" data-bs-toggle="tab" data-bs-target="#{{ $panename }}">{{ i18n .name }}</button>
                  </li>
                  {{- $tabCount = add $tabCount 1 -}}
                {{- end -}}
              {{- end -}}
              <li class="nav-item" role="presentation">
                <button class="nav-link" href="#" role="tab" id="compare-tab" data-bs-toggle="tab" data-bs-target="#compare-pane">{{ i18n "compareView" }}</button>
              </li>
            </ul>
            {{- $tabCount = 0 -}}
            <div class="tab-content" id="viewerTabContent">
              {{- range .Params.resources -}}
                {{- if .params.iiif -}}
                  {{- $tabname := printf "%s-tab" .name -}}
                  {{- $panename := printf "%s-pane" .name -}}
                  <div class="tab-pane fade{{ if eq $tabCount 0 }} active show{{ end }}" id="{{ $panename }}" role="tabpanel" aria-labelledby="{{ $tabname }}">
                    <div class="iiif">
                      <div class="description">Ansicht der {{ i18n .name }}</div>
                      {{/*
                      {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $contextPath "pageURL" .Permalink "pageContext" $page "site" $.Site) }}
                      */}}
                    </div>
                  </div>
                  {{- $tabCount = add $tabCount 1 -}}
                {{- end -}}
              {{- end -}}
              <div class="tab-pane fade" id="compare-pane" role="tabpanel" aria-labelledby="compare-tab">
                {{- $page := . -}}
                {{- $images := slice -}}
                {{- range .Params.resources -}}
                  {{/*
                  {{- if .params.iiif -}}
                    {{- $image := partial "iiif/preview.html" (dict "context" $page "name" .name) -}}
                    {{- $image = $image.Resize (printf "%sx" $.Site.Params.maxWidth) -}}
                    {{- $images = $images | append (dict .name $image.RelPermalink) -}}
                  {{- end -}}
                  */}}
                {{- end -}}
                {{/*
                {{- $images := partial "functions/arrays/reverse-slice.html" $images -}}
                */}}
                {{- partial "views/compare_view.html" (dict "context" $page "id" "" "images" $images) -}}
              </div>
            </div>
          {{- else -}}
            {{- with (index .Params.resources 0) -}}
              <div class="iiif">
                <div class="description">Ansicht der {{ i18n .name }}</div>
                {{/*
                {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $contextPath "pageURL" .Permalink "pageContext" $page "site" $.Site) }}
              */}}
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}

        {{/*
        {{- if or .Page.Params.iiifcontext .Page.Params.iiif.context -}}
          {{- if (hasPrefix .Page.Params.iiifcontext "http://iiif.io/api/image/") -}}
            <div class="iiif">
              {{- range .Params.resources -}}
                {{- if or (or (eq .name "front") (eq .name "title")) (eq .name "cover") -}}
                  {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $contextPath "pageURL" .Permalink "heading" (i18n .name) "pageContext" $page "site" $.Site) }}
                {{- end -}}
              {{- end -}}
            </div>
          {{- else if and (hasPrefix .Page.Params.iiifcontext "http://iiif.io/api/presentation/") (or .Page.Params.iiifmanifest .Page.Params.iiif.manifest) -}}
            <div class="iiif">
              {{- partial "iiif/iiif-presentation.html" . -}}
            </div>
          {{- end -}}
        {{- end -}}
        */}}

        {{/*
        {{- if and .Params.type (or .Params.description .Params.bookTitle) -}}
            {{- partial (printf "media/%s.html" .Params.type ) . -}}
        {{- end -}}
        */}}

        {{- $objectNumber := partial "partials/itemnumber.html" (dict "alias" (index .Aliases 0)) -}}
        {{- if eq .Params.type "audio" -}}
          <a class="up" href="{{ .Parent.RelPermalink}}">{{ i18n "overview" }}</a>
          {{- $foundText := false -}}
          {{- range .Parent.Pages -}}
            {{- if eq .Params.type "text" -}}
              {{- $textNumber := partial "partials/itemnumber.html" (dict "alias" (index .Aliases 0)) -}}
              {{- if eq $objectNumber $textNumber -}}
                <div class="related-popup related-text">
                  <input type="checkbox" id="related-toggle">
                  <label class="related-close float-right" for="related-toggle"><i class="close-icon"></i></label>
                  <a class="related-link" href="{{ .RelPermalink}}">{{ i18n "relatedText" }}</a>
                </div>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- else if eq .Params.type "text" -}}
          {{- $foundAudio := false -}}
          {{- range .Parent.Pages -}}
            {{- if eq .Params.type "audio" -}}
              {{- $audioNumber := partial "partials/itemnumber.html" (dict "alias" (index .Aliases 0)) -}}
              {{- if eq $objectNumber $audioNumber -}}
                <div class="related-popup related-audio">
                  <input type="checkbox" id="related-toggle">
                  <label class="related-close float-right" for="related-toggle"><i class="close-icon"></i></label>
                  <a class="related-link" href="{{ .RelPermalink}}">{{ i18n "relatedAudio" }}</a>
                </div>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
     </div>
     {{ partial "nav/next.html" . }}
   </div>
   <div class="qrcode-link">
     <a href="qrcode.pdf">•</a>
   </div>
</div>
