{{- partial "content-check.html" . -}}
<div class="content-container {{ .Params.type }}">
  <div class="content-area">
    {{- $rootSection := .FirstSection -}}
    {{- $color := "" -}}
    {{- if (isset $rootSection.Params "color") -}}
        {{- $color = $rootSection.Params.Get "color" -}}
    {{- end -}}

    <div class="content-header">
      {{ partial "breadcrumb-nav.html" . }}
    </div>
    <div class="content">
      {{- if or (eq .Params.type "frame") (eq .Params.type "wall") -}}
        {{- partial "overview.html" . -}}
      {{- else -}}
        {{- $type := .Params.type -}}
        {{- $class := printf "%s-content" $type -}}
        <div class="content-body {{ $class | safeCSS }}">
            {{ .Content }}
        </div>
        <ol class="subsection-listing">
          {{- range .Pages -}}
            {{- if .Title -}}
              {{- if or (eq .Kind "section") .Content -}}
                <li class="sub-section">
                  <a href="{{ .RelPermalink }}">
                    <div class="listing-title">
                      {{ .Title }}
                    </div>
                    {{- if .Resources -}}
                      {{- $preview := .Resources.GetMatch "preview" -}}
                      {{ with $preview }}
                        {{ $image := .Resize "300x" }}
                        <div class="preview">
                          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="preview-image">
                        </div>
                      {{ end }}
                    {{ end }}
                  </a>
                </li>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        </ol>
      {{- end -}}
    </div>
  </div>
  <div class="qrcode-link">
    <a href="qrcode.pdf">•</a>
  </div>
</div>
