<div class="content-container {{ .Params.type }}">
  <div class="content-area">
    {{- $rootSection := .FirstSection -}}
    {{- $color := "" -}}
    {{- if (isset $rootSection.Params "color") -}}
        {{- $color = $rootSection.Params.Get "color" -}}
    {{- end -}}

    <div class="content-header">
      {{ partial "breadcrumb-nav.html" . }}
    </div>
    <div class="content">
      <div class="content-body">
          {{ .Content }}
      </div>
      {{- if eq .Params.type "frame" -}}
        {{- partial "frame.html" . -}}
      {{- else if eq .Params.type "wall" -}}
        {{- partial "wall.html" . -}}
      {{- else -}}
        <ol class="subsection-listing">
          {{- range .Pages -}}
            <li class="sub-section">
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </li>
          {{- end -}}
        </ol>
      {{- end -}}
    </div>
  </div>
</div>
